<%- include("header") ;-%> 


<div class="container"><h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, dolore minima voluptatibus libero nisi blanditiis soluta unde cupiditate aspernatur dolores corrupti eligendi odit eveniet distinctio rerum quisquam dignissimos iure culpa, suscipit ab eos quo dolor. Facere molestiae recusandae illo exercitationem voluptas! Sunt ipsam tempora delectus ad dolorum, aliquid hic temporibus voluptatum quas doloremque accusantium alias harum dolor sit magnam eaque voluptate cupiditate? Eligendi, iure, velit soluta ex ad omnis iusto fugit quidem est alias nesciunt aliquam earum, aut sed dignissimos esse quia atque eum dolores? Beatae commodi, quas nulla mollitia saepe deleniti illum iusto! Quam corrupti vel laudantium repellat cupiditate!</p></div>




<%- include("footer") ;-%>  
