<!DOCTYPE html>
<html>
  <head>
     <title>Home</title>
     
     <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <link rel="stylesheet" href="public/style.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  
  <body onscroll="foo()" onresize="foo()" onload="foo()">
    
       <div class="footer container-fluid">connnect</div>
       
        <script src="public\footer.js"></script>
  </body>
</html>